In [9]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [11]:
for temp in range(10,20):
    print(temp)

10
11
12
13
14
15
16
17
18
19

In [14]:
lists = [10,20,14,55,43,87,76]
print(lists)
print("Number of item in the List2:",len(lists))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2: 7

In [24]:
print("Artificial Intelligence")
N = ("ARTIFICIAL INTELLIGENCE")
for n in range(0,len(N),1):
    print(N[n])

Artificial Intelligence
A
R
T
I
F
I
C
I
A
L

I
N
T
E
L
L
I
G
E
N
C
E

In [25]:
name = input("Enter Name :")

for temp in name:
    print(temp)

Enter Name : ARTIFICIAL INTELLINGENCE

A
R
T
I
F
I
C
I
A
L

I
N
T
E
L
L
I
N
G
E
N
C
E

In [31]:
name= input(" your Name")
age=  input(" your age")
profession = input(" your profession")

 your Name SHARIFF
 your age 27
 your profession DATA SCIENTIST

In [33]:
score=(1, 'Welcome', 2, 'Hope')
print(score)

(1, 'Welcome', 2, 'Hope')

In [39]:
tuple1= (0 , 1, 2, 3)
tuple2= ("python","Hope")
tuples= (tuple1)+(tuple2)
print(tuples)

(0, 1, 2, 3, 'python', 'Hope')

In [53]:
t1 = (20,10,16,19,25,1,276,188)
for i in t1:
    if i%2!=0:
        print(f"{i} is odd")

19 is odd
25 is odd
1 is odd

In [55]:
t1 = (20,10,16,19,25,1,276,188)
for i in t1:
    if i%2==0:
        print(f"{i} is  odd")

20 is  odd
10 is  odd
16 is  odd
276 is  odd
188 is  odd